@model List<Capstone_Database.Model.Product>

@{
    ViewBag.Title = "Media Library";
}

<h2>Media Library</h2>


<div>
    <h4>Media:</h4>
    <hr/>
    <form asp-action="Search">
        <p>
            Name:
            <input type="text" id="nameSearch" name="nameSearch"/>
        </p>
        <p>
            Type:
            <input type="radio" , name="type" , value="Book" />
            <input type="radio" , name="type" , value="Movie" />
            <input type="radio" , name="type" , value="CD" />
        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.ActionLink("Order", "OrderProduct", new { item.productId })
                </td>
            </tr>
        }
    </table>

</div>
<p>

</p>