@using Capstone_Database.Model
@model List<Capstone_Database.Model.Product>

@{
    ViewBag.Title = "Media Library";
    var memberId = int.Parse(Session["currentMemberId"].ToString());
    var databaseContext = new OnlineEntities();
    ViewBag.MaxOrders = true;
}

<h2>Media Library</h2>
<div>
    <h4>Media:</h4>
    <hr/>
    <form asp-action="Search">
        <p>
            Name:
            <input type="text" id="nameSearch" name="nameSearch" /> &nbsp;&nbsp;
            Type:
            &nbsp;<input type="radio" name="typeSearch" value="Book" /> Book
            &nbsp;<input type="radio" name="typeSearch" value="Movie"> Movie
            &nbsp;<input type="radio" name="typeSearch" value="CD" /> CD
            &nbsp;<input type="submit" value="Submit" />
        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>

            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @if (ViewBag.HasThreeOrders)
                    {
                        <b><s>Order</s></b>
                    }
                    else
                    {
                        @Html.ActionLink("Order", "OrderProduct", new { item.productId })
                    }
                </td>
            </tr>
        }
    </table>

</div>
<p>

</p>