@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>West Georgia Library is an online library containing media.</p>
<p>We have an extensive variety of media to choose from, you simply just need to browse and select what you want and will ship it right to you.</p>