@model IEnumerable<Capstone_Database.Model.Member>

@{
    ViewBag.Title = "All Members";
}

<h2>All Members</h2>

<div>

    <form asp-action="Search">
        <p>
            @if (ViewBag.statusSearch.Equals("Banned"))
            {
                <input type="radio" name="statusSearch" value="Banned" checked="checked" />
            }
            else
            {
                <input type="radio" name="statusSearch" value="Banned" />
            }
            Banned Members
            &nbsp;
            @if (ViewBag.statusSearch.Equals("Unbanned"))
            {
                <input type="radio" name="statusSearch" value="Unbanned" checked="checked" />
            }
            else
            {
                <input type="radio" name="statusSearch" value="Unbanned" />
            }
            Non-banned Members
            &nbsp;
            @if (ViewBag.statusSearch.Equals("Overdue"))
            {
                <input type="radio" name="statusSearch" value="Overdue" checked="checked" />
            }
            else
            {
                <input type="radio" name="statusSearch" value="Overdue" />
            }
            Members w/ Overdue Rentals
            &nbsp;<input type="submit" value="Submit" class="btn btn-default" />
            &nbsp;<input type="button" value="Clear" class="btn btn-default" onclick="location.href = '@Url.Action("Index")'" />
        </p>
    </form>
    <table class="table">
        <tr>
            <th>
                Username
            </th>
            <th>
                Name
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @if (item.isBanned.Equals(1))
                    {
                        <b style="color: red">Banned</b>
                    }
                </td>
                <td>
                    @Html.ActionLink("View Profile", "Details", new {item.memberId})
                </td>
            </tr>
        }

    </table>
</div>