<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Capstone_Database.Properties.Settings.cs4982s20dConnectionString"
            connectionString="server=160.10.25.16;user id=cs4982s20d;password=PAoWBgKC42A3m45V;persistsecurityinfo=True;database=cs4982s20d"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>